body {
    background-color: #8fbc8f;
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-family: 'Italianno', cursive;
}
#main-header{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px auto;
    background-color: rgb(255, 235, 205);
    padding: 40px;
    border: groove rgb(0, 0, 0) 5px;
}
.posts{
    color: rgb(0, 0, 0);
    font-size: 80px;
}
#Humans{
    text-align: left;
    background-image: url(img/Chatsworth-1838-Wallcoverings_0005_1602-106-01.webp);
    background-position: center;
    padding: 300px;
    margin-left: 0px;
    margin-right: 1300px;
}
#Animals{
    text-align: center;
    background-image: url(img/Pretty_Flower_Antique_Cream_Laura_Felicity_The_Pattern_Collective-01_1800x1800.webp);
    padding: 300px;
    margin-left: 650px;
    margin-right: 650px;
    margin-top: -867.5px;
}
#Objects{
    text-align: right;
    background-image: url(img/home-design.jpg);
    padding: 300px;
    margin-left: 1300px;
    margin-right: 20px;
    margin-top: -867.5px;
}